<p class="glitch text-5xl font-bold stagger-1" data-glitch="HI! I'M HOSSAINUR RAHAMAN!">HI! I'M HOSSAINUR RAHAMAN!</p>
<br>
<p class="text-3xl font-bold stagger-2">FullStack Developer</p>
<br><br>
<p class="text-lg stagger-3">I am <b>AWS certified Machine learning specialist   
</b> and <b>Microsoft certified Azure fundamentalist</b> and I have self experience
 with proficiency on this field. I have industrial experience on <b>C# ASP.Net and
 Python Application Development</b> along with both SQL and NoSQL databse. 
 I have perosnal experience and projects in android application development using 
 Flutter and cloud Firesbase as well. I am Proficient in <b>Data Structure</b>, <b>Algorithms</b> 
 and <b>OOP concept</b>.</p>
